Django==1.9.7
pytest-django==2.9.1
django-cors-headers==1.1.0

django-filter==0.14.0
graphene_django

# channels 
channels==0.15.0
asgi-redis==0.13.1
daphne==0.13.0

# dev
ipdb==0.9.3

uWSGI==2.0.12
dj-database-url==0.4.1
psycopg2==2.6.1

whitenoise
